div{
    height:100px;
    width:100px;
    background-image: url("sham.jpg");
    background-size: cover;
    border-radius: 30px;
    text-align: center;
    position:fixed;
    right:0px;
    top:0px;
}
body{
    background-image:url("sham.jpg");
    background-size-cover;
}
#boraste{
    background-image:url("sham.jpg");
    background-size:cover;
    height: 500px;
    width: 1000px;
}
}